.admin-name {
  color: var(--primary-color);
}

.admin-panel {
  min-block-size: calc(100vh - 10.5rem);
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 0;
  gap: 0;
}

.header {
  padding: 2rem;
  gap: 1rem;
}

@media screen and (max-width: 700px) {
  .header {
    padding: 1rem;
  }
}

.header {
  position: sticky;
  top: 5rem;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0 2px 5px var(--other-text-color));
}

.header h3 {
  flex: 1;
}

.header-icons {
  display: flex;
  gap: 0.5rem;
}

.header-buttons {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-text-color);
  block-size: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
}

.content {
  flex: 1;
  display: flex;
}

.side-bar {
  background-color: var(--background-color);
  inline-size: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.side-bar > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-bar > ul > li {
  padding: 1rem 2rem;
  background-color: rgba(0, 128, 0, 0.11);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s;
  cursor: pointer;
}

.side-bar > ul > li:hover {
  border-inline-start: 1rem solid var(--primary-color);
}

.main-content {
  flex: 1;
  background-color: var(--other-color);
}

.main-content-header {
  padding: 1rem;
  border-block-end: 2px solid var(--primary-color);
}

.main-content-content {
  padding: 1rem;
  block-size: 100vh;
  overflow: scroll;
}

.main-content-content::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .side-bar {
    inline-size: 6rem;
    padding: 1rem;
    align-items: center;
  }

  .side-bar > ul > li {
    inline-size: 3rem;
    justify-content: center;
  }

  .sidebar-para {
    display: none;
  }
}
