.cta {
  padding: 2rem 1rem;
  background-color: var(--accent);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
}

.cta button {
  background-color: var(--other);
  color: var(--background);
  border: none;
  inline-size: 150px;
  block-size: 40px;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.featured-category {
  padding: 2rem 0;
}

.featured-category ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.featured-category li {
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  min-inline-size: 150px;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  flex: 1;
  cursor: pointer;
}

.featured-category li:hover {
  color: var(--other);
}

.featured-products,
.featured-blogs {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  cursor: pointer;
  user-select: none;
}

.header p:hover {
  color: var(--other);
}

h3 {
  border-left: 10px solid var(--other);
  padding: 0 0.5rem;
}

.product-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  overflow: scroll;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  min-inline-size: 150px;
  block-size: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-image {
  background-color: lightblue;
  flex: 1;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-price {
  font-weight: 700;
}

.product-details button {
  inline-size: 100%;
  block-size: 30px;
  background-color: var(--other);
  color: var(--background);
  cursor: pointer;
  border: none;
}

.product-details button:hover {
  border: 1px solid var(--other);
  background-color: var(--background);
  color: var(--primary);
}

.blog-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.blog-card {
  padding: 1rem;
  background-color: var(--accent);
  max-inline-size: 700px;
  min-inline-size: 300px;
  flex-grow: 1;
  block-size: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-image {
  background-color: lightblue;
  flex: 1;
}

.blog-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.publish-date {
  font-size: 0.7rem;
}

.newsletter {
  background-color: var(--other);
  color: var(--background);
  padding: 2rem;
}

.newsletter form {
  max-inline-size: 400px;
  block-size: 40px;
  background-color: var(--background);
  margin: 1rem 0 0 0;
  display: flex;
}

.newsletter input {
  flex: 1;
  border: none;
  padding: 0 1rem;
}

.newsletter button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}
