search {
  background-color: var(--other-color);
  display: flex;
  align-items: center;
  padding-inline-end: 0.5rem;
  border-radius: 0.25rem;
}

.search-icon {
  display: flex;
  align-items: center;
  margin: 0.8rem;
}

#search-icon {
  transform: rotate(135deg);
}

search form {
  block-size: 2rem;
  display: flex;
}

search input {
  background-color: transparent;
  color: var(--primary-text-color);
  block-size: 100%;
  border: none;
}

search input:focus {
  outline: none;
}

search button {
  block-size: 100%;
  padding-inline: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}
