/* You can add global styles to this file, and also import other style files */
:root {
	--primary-color: #386641;
	--seconday-color: #FEFEE3;
	--background-color: #fff;
	--text-color: #000
}

html {
	font-family: "poppins", sans-serif;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
}

h1 {
	color: var(--primary-color);
	font-size: 1.2rem;
}

button {
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
}