.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.navigation {
  background-color: var(--accent);
  block-size: 60px;
  display: flex;
  position: sticky;
  top: 5rem;
  padding: 0 1rem;
  user-select: none;
}

.product-container {
  display: flex;
  background-color: var(--accent);
}

.nav {
  flex: 1;
  display: flex;
}

.filter {
  inline-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

@media screen and (min-width: 700px) {
  .filter {
    display: none;
  }
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.link {
  cursor: pointer;
}

.disabled {
  color: grey;
}

.filter-container {
  inline-size: 15rem;
  display: none;
}

.filter-element {
  position: fixed;
  top: 5rem;
  bottom: 0;
  left: 0;
  inline-size: 0;
  background-color: var(--accent);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.open-filter {
  inline-size: 100vw;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--primary);
  color: var(--background);
}

.close-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--accent);
    margin: 1rem 0;
  }

  .filter-element {
    display: none;
  }
}

.product-list {
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.container-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.main {
  flex: 1;
  padding: 0 1.5rem;
  overflow: scroll;
}

.main > div {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid grey;
}

.apply-button button {
  block-size: 40px;
  cursor: pointer;
}

.apply {
  border: 1px solud var(--background);
  background-color: var(--other);
  color: var(--background);
}

.reset {
  border: 1px solid var(--primary);
  background: var(--background);
  color: var(--primary);
}

.main ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main input {
  block-size: 1.5rem;
  inline-size: 1.5rem;
  accent-color: var(--other);
}

.size ul {
  display: none;
}

h3 > span {
  font-weight: normal;
  font-size: 1rem;
}
