:root {
  --primary: #111;
  --background: #fff;
  --accent: #f5f5f5;
}

html {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.hover:hover {
  cursor: pointer;
  background-color: var(--accent);
}

button {
  cursor: pointer;
  transition: all 0.25s;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

button:hover {
  scale: 1.05;
}

::selection {
  background-color: var(--accent);
  color: var(--primary);
}

h3 {
  padding: 0 0 1rem 0;
}

body {
  background-color: var(--background);
  color: var(--primary);
  min-block-size: 100vh;

  display: flex;
  flex-direction: column;
}

header,
footer {
  user-select: none;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding: 1rem 5rem;

  border-bottom: 1px solid var(--accent);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  block-size: 100px;
}

.logo {
  block-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "poppins", sans-serif;
}

.nav-links {
  block-size: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  block-size: 100%;
}

.nav-links li {
  padding: 0.5rem;
}

.cart-and-wishlist {
  block-size: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme,
.wishlist,
.cart {
  display: flex;
  align-items: center;
  justify-content: center;

  block-size: 100%;
  inline-size: 3rem;
}

main {
  flex: 1;
  padding: 1rem 5rem;
}

footer {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  border-top: 1px solid var(--accent);
  gap: 1rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  padding: 1rem 0;
  gap: 1rem;
}

.links {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.links > .column {
  gap: 2rem;
  min-inline-size: 100px;
}

.column {
  flex-grow: 1;
  min-inline-size: 170px;
}

.details div {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}

.socials div:hover {
  cursor: pointer;
}

.column ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.column li {
  inline-size: 150px;
}

.column li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 780px) {
	body {
    /* REMOVE THE BACKGROUND COLOR LATER */
    background-color: lightblue;
  }
}
