:root {
  --primary: #111;
  --background: #fff;
  --accent: #f5f5f5;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--primary);
}
