.search-results {
  background-color: var(--other-color);
  position: fixed;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  overflow: scroll;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.25s;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h2 {
  flex: 1;
}

.heading button {
  block-size: 2rem;
  inline-size: 2rem;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 1px solid var(--other-color);
}

.hidden {
  overflow: hidden;
}

.searched {
  top: 0;
}

section {
  display: flex;
  flex-direction: column;
}

.filtered-products {
  background-color: var(--backgound-color);
}

section > div {
  inline-size: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.sort-products {
  background-color: var(--other-color);
  position: sticky;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-block-end: 1px solid var(--primary-color);
  z-index: 2;
}

.you-may-also-like,
.all-products {
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.you-may-also-like {
  background-color: var(--other-color);
}

.products {
  padding: 1rem;
}
