<div class="body">
  <div class="search-results">
    <div class="heading">
      <h2>Search Results</h2>
      <button type="button" class="close-search" (click)="closeSearch()">
        <img src="close.svg" alt="close icon" width="30px" />
      </button>
    </div>

    <div class="content">
      <p>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quia
          nobis amet incidunt, iure exercitationem repudiandae, necessitatibus
          reprehenderit, dolorum doloremque cumque. Similique commodi dicta
          voluptatem cupiditate reiciendis vel, quis fuga.</span
        ><span
          >Quidem eum vitae ratione possimus vero tempora mollitia repellat
          ipsam dolorem pariatur, quam accusamus animi eius perferendis. Fugiat
          quos placeat fuga dolor impedit quis culpa facere, suscipit, deleniti,
          cupiditate distinctio.</span
        ><span
          >Iste aperiam nobis quasi laborum voluptates iure repudiandae ex
          placeat tenetur dicta modi, praesentium excepturi commodi molestiae
          ullam quos doloribus omnis at earum velit, sunt nemo eligendi.
          Deleniti, cumque culpa.</span
        ><span
          >Aliquid sunt temporibus quisquam, veniam aliquam impedit ipsam
          voluptas ratione quod quam voluptate itaque est, officia eveniet,
          tempora doloribus in aut maiores error laudantium necessitatibus
          reiciendis ipsa sint culpa? Ab.</span
        ><span
          >Culpa suscipit nisi in dicta pariatur, velit doloribus assumenda
          fugiat possimus a numquam id deserunt quibusdam odit vitae quos
          excepturi quae eius. Aut, quas reprehenderit error deserunt officiis
          necessitatibus a!</span
        ><span
          >Doloribus sunt pariatur possimus dolorem, neque corrupti fuga
          deleniti accusantium optio nesciunt molestiae libero ipsum obcaecati,
          voluptas quibusdam eveniet vitae perspiciatis hic asperiores numquam
          unde nulla cupiditate quod. Quibusdam, quidem.</span
        ><span
          >Voluptates deleniti at corporis vel ex animi sint totam. Totam
          adipisci odio iusto ex, impedit repellat numquam quas blanditiis
          minima repellendus magnam praesentium nulla consequuntur corrupti
          mollitia veniam accusantium expedita.</span
        ><span
          >Aliquam dolore neque iusto maiores ratione molestias inventore
          blanditiis quisquam, quia, cupiditate ut commodi similique laudantium
          omnis, placeat error qui dignissimos? Blanditiis quasi animi ratione
          repellat, rem esse error dolorem!</span
        ><span
          >Et asperiores eos a facilis, voluptas exercitationem. Eius molestiae
          illo doloribus cumque id ipsa, in ea voluptatum nemo voluptates
          deleniti dolorem alias tempore magni fugiat fugit neque quod corporis
          voluptatem!</span
        ><span
          >Beatae, est libero dolor maiores nihil pariatur accusantium assumenda
          eveniet? Dolorum porro ad, provident sapiente omnis reiciendis
          repellendus tempore voluptates vitae obcaecati corrupti ipsa laborum a
          qui quos velit asperiores.</span
        ><span
          >Est dicta nisi iusto assumenda similique et beatae eos architecto
          incidunt minus quis numquam corrupti earum vel, perspiciatis molestiae
          officiis suscipit modi officia cum quae animi quidem praesentium!
          Eius, repudiandae!</span
        ><span
          >Suscipit alias vero perspiciatis blanditiis. Illum, quasi repellendus
          pariatur ducimus non temporibus porro molestias, est accusamus
          eligendi soluta a eos provident. Eum modi est explicabo esse,
          repudiandae voluptatem minus voluptatum.</span
        ><span
          >Similique deleniti doloremque incidunt totam, architecto libero error
          voluptate magni repellat reprehenderit dolorum hic earum a ullam
          itaque quam qui temporibus perferendis iure eveniet aliquid animi?
          Velit debitis illum aperiam.</span
        ><span
          >Tenetur, exercitationem? Ipsa cum repellendus, ut asperiores
          obcaecati, veniam vero magni repudiandae commodi sequi deleniti
          aliquam possimus atque ad quia. Veniam dignissimos molestias ab eius
          repellat delectus mollitia? Ducimus, alias!</span
        ><span
          >Soluta repudiandae nihil autem ipsa! Excepturi exercitationem
          delectus similique odio in eius corrupti minima aliquam sequi,
          pariatur consequuntur, assumenda veniam modi ad nesciunt quos rerum
          nemo maiores labore placeat aspernatur.</span
        ><span
          >Molestiae porro similique, alias possimus earum beatae perferendis
          facere et at, temporibus ut tempora quos soluta aliquid. Aliquid saepe
          nam quo reiciendis, quos omnis quasi tenetur iure praesentium sapiente
          veniam?</span
        ><span
          >Quaerat, repudiandae! Enim quae quas totam aspernatur minus
          consectetur minima, amet labore itaque adipisci? Ab harum eum adipisci
          sapiente, maiores expedita pariatur, dignissimos quas, atque vero
          ipsum ipsam id consectetur?</span
        ><span
          >Perspiciatis rerum, expedita quo obcaecati quibusdam aspernatur
          reprehenderit. Voluptas excepturi provident neque aut debitis beatae
          dolores suscipit quasi, delectus cumque ipsam consequatur aspernatur
          culpa officiis nesciunt magnam numquam ea ex!</span
        ><span
          >Illum sunt ratione esse distinctio repudiandae repellendus commodi
          cumque atque adipisci quo fuga perferendis, eum harum enim fugit,
          minima quod temporibus quisquam, iste dignissimos possimus! Fuga porro
          culpa laudantium non.</span
        ><span
          >Tempore consequatur velit nesciunt architecto quas officiis laborum
          atque quia? Temporibus quisquam cupiditate, odit, sed quas cumque aut
          sit excepturi tenetur culpa quidem tempore, quis qui laborum minus
          repudiandae mollitia?</span
        >
      </p>
    </div>
  </div>

  <div class="sort-products">
    <search>
      <div class="search-icon">
        <img src="search.svg" alt="search icon" width="20px" id="search-icon" />
      </div>

      <form (submit)="showForm($event)">
        <input
          type="search"
          placeholder="Search for products"
          maxlength="30"
          required
        />

        <button type="submit">Search</button>
      </form>
    </search>
  </div>

  <section class="filtered-products">
    <div class="all-products">
      <h3>Electronic Products</h3>

      <div class="products">
        @for (item of products; track item._id) {
        <div class="product">
          <div
            class="image"
            style="background-image: url('{{ item.primaryImage }}')"
            (click)="displayDetails( item, $event )"
          ></div>
          <div class="details">
            <p>{{ item.name || 'Unnamed Product' }}</p>
            <p class="price">₦<span>{{ item.price.toLocaleString()}}</span></p>
            <button
              type="button"
              class="other-button"
              (click)="addToCart(item)"
            >
              Add to cart
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <div class="product-details-expand">
    <div class="header">
      <div class="clicked-product-name">
        <h3 class="names"></h3>
      </div>
      <div class="product-id"></div>

      <button
        type="button"
        class="close-product-details-expand"
        (click)="removeDetails()"
      >
        <img src="close.svg" alt="close" />
      </button>
    </div>

    <div class="content">
      <div class="about-product">
        <div class="images">
          <div class="displaying-image" (click)="expandPrimaryImage()"></div>

          <div class="available-images">
            <div class="image1" (click)="changeToPrimaryImage()"></div>
            <div class="image2" (click)="changeToSecondaryImage()"></div>
            <div class="image3" (click)="changeToThirdImage()"></div>
          </div>
        </div>

        <div class="about-the-product">
          <div class="product-main-description">
            <h3>Description</h3>
            <div class="product-information"></div>
          </div>

          <div class="product-price">
            ₦ <span class="displayed-price"></span>
          </div>

          <div class="stock-status"></div>

          <div class="product-ui-buttons">
            <button type="button">
              <img src="wishlist.svg" alt="Add to wishlist" />
            </button>
            <button type="button">Add to cart</button>
            <div class="numbers-btns">
              <button type="button" class="numbers minus">-</button>
              <button type="button" class="numbers numOfItem">1</button>
              <button type="button" class="numbers plus">+</button>
            </div>
            <button type="button" class="gift">Buy as a gift</button>
            <button type="button" class="report">Report this product</button>
          </div>
        </div>
      </div>

      <div class="other-things">
        <div class="similar-products">
          <h3>Similar Products</h3>

          <div class="similar-product-container">
            @for (item of similarP; track item._id) {
            <div class="product">
              <div
                class="image"
                style="background-image: url('{{ item.primaryImage }}')"
                (click)="displayDetails( item, $event )"
              ></div>
              <div class="details">
                <p>{{ item.name || 'Unnamed Product' }}</p>
                <p class="price">
                  ₦<span>{{ item.price.toLocaleString()}}</span>
                </p>
                <button
                  type="button"
                  class="other-button"
                  (click)="addToCart(item)"
                >
                  Add to cart
                </button>
              </div>
            </div>
            }
          </div>
        </div>

        <div class="reviews">
          <h3>
            Reviews (
            <div class="number-of-reviews"></div>
            )
          </h3>
          <p class="note">Scroll to the bottom to write a review</p>

          <div class="reviews-container">
            @for (item of reviews; track item._id) {
            <div class="review">
              <div class="author-name">
                <h4 class="author">{{ item.customerName }}</h4>
              </div>
              <div class="comments">{{ item.review }}</div>
              <div class="timeOfWriting">{{ item.createdAt }}</div>
            </div>
            }

            <div class="write-a-review">
              <form (submit)="submitReview($event)">
                <label for="write-review">
                  Write a review about this product.
                  <span class="note">
                    Note: Your review will not be visible until this page is
                    reloaded.</span
                  >
                </label>
                <textarea
                  name="write-review"
                  id="write-review"
                  maxlength="500"
                  placeholder="Write a review about this product"
                ></textarea>
                <button type="submit" class="submit-review">
                  Submit Review
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
