.main-container {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--background-color);
  display: flex;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
}

.header-content {
  display: flex;
  align-items: center;
}

.title {
  max-inline-size: 15rem;
}

.header-content.links {
  flex: 1;
  justify-content: center;
}

.link-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.link-list a {
  color: var(--text-color);
  text-decoration: none;
}

.header-content.btns {
  gap: 0.5rem;
}

#box,
.account-btn {
  background-color: var(--background-color);
  filter: drop-shadow(0 0 0.1rem #00000018);
  color: var(--text-color);
  block-size: 1.5rem;
  padding-inline: 0.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#box:hover,
.account-btn:hover {
  filter: drop-shadow(0 0 0.3rem #00000018);
}

#box-count {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.2rem 0.5em;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

router-outlet {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-box {
  position: fixed;
  top: 4rem;
  right: 1rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 1rem 3rem;
}

@media screen and (max-width: 600px) {
  header {
    padding: 1rem;
  }

  .header-content.title {
    flex: 1;
  }

  .header-content.links {
    display: none;
  }

  footer {
    padding: 1rem;
  }
}