.body {
	min-block-size: 100vh;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

section {
	min-block-size: 30rem;
	background-color: var(--other-color);
	border-radius: 0.25rem;
}

.cta-section {
	position: relative;
	min-block-size: calc(100vh - 10rem);
	display: flex;
	flex-direction: column;
}

.cta-content {
	background-color: lightblue;
}

.change-cta-buttons {
	position: absolute;
	bottom: 0;
	align-self: center;
	padding: 0.5rem 1rem;
	display: flex;
	gap: 0.5rem;
}

.change-cta-buttons button {
	background-color: #000;
	border: none;
	border-radius: 1rem;
	inline-size: 0.5rem;
	block-size: 0.5rem;
}