.body {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

.cta-section {
  background: url("https://res.cloudinary.com/dqmfnubj5/image/upload/v1751448116/products/1751448114315-cta-image.jpg.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(--primary-color);
  position: relative;
}

.cta-write-up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000067;
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
}

.cta-btn,
.sign-up {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--primary-color);
  block-size: 2.5rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  transition: all 0.25s;
}

button {
  font-weight: bolder;
}

.other-button {
  background-color: transparent;
  border: 2px solid var(--primary-text-color);
  color: var(--primary-text-color);
  block-size: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  transition: all 0.25s;
}

.other-button:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-color);
}

.feature-section {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 5rem;
}

.features {
  background-color: var(--other-color);
  filter: drop-shadow(0 0 0.2rem #00000062);
  padding: 2rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  min-inline-size: 15rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.category-section {
  background-color: var(--other-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  user-select: none;
}

.container {
  margin-block-start: 2rem;
  max-inline-size: 60rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.gender {
  flex: 1;
  display: flex;
  min-inline-size: 20rem;
  align-items: center;
  gap: 1rem;
}

.men,
.women {
  filter: drop-shadow(0 0 0.2rem #00000062);
  flex: 1;
  border-radius: 0.5rem;
  block-size: 100%;
  min-block-size: 15rem;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.25s;
  cursor: pointer;
  color: var(--primary-color);
}

.men:hover,
.women:hover {
  transform: translateY(-4px) scale(1.04);
  filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

.men {
  background: url("../../../public/assets/photos/men.png");
  background-color: var(--other-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.women {
  background: url("../../../public/assets/photos/women.png");
  background-color: var(--other-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.categories {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  min-inline-size: 20rem;
}

.category {
  background-color: var(--other-color);
  color: var(--primary-color);
  font-weight: bold;
  filter: drop-shadow(0 0 0.2rem #00000062);
  padding: 1rem;
  flex: 1;
  min-inline-size: 10rem;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.category:hover {
  transform: translateY(-4px) scale(1.04);
  filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

.most-purchased-product-section {
  padding: 5rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sell-section {
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10rem 2rem;
}

.blog-write-up,
.sell-write-up {
  flex: 1;
  color: var(--primary-text-color);
  min-inline-size: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
}

.blog-image,
.sell-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 20rem;
  padding: 0 2rem;
}

.sell-actual-image {
  background: url("https://res.cloudinary.com/dqmfnubj5/image/upload/v1751505233/products/1751505231248-sell.jpg.jpg");
  background-position: center;
  background-size: cover;
}

.blog-actual-image,
.sell-actual-image {
  background-color: #000;
  border: 1px solid var(--secondary-color);
  block-size: 100%;
  inline-size: 100%;
  min-block-size: 20rem;
  border-radius: 1rem;
}

.blog-section {
  display: flex;
  padding: 10rem 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 735px) {
  .blog-section {
    flex-direction: column-reverse;
  }

  .blog-image {
    inline-size: 100%;
  }
}

.blog-actual-image {
  background: url("https://res.cloudinary.com/dqmfnubj5/image/upload/v1751506126/products/1751506124315-blog.jpg.jpg");
  background-position: center;
  background-size: cover;
}

.join-section {
  background: url("https://res.cloudinary.com/dqmfnubj5/image/upload/v1751572547/products/1751572540799-join.jpg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  gap: 1rem;
  position: relative;
}

.join-section .write-up {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000063;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
