.body {
  position: relative;
  block-size: calc(100vh - 10.5rem);
  overflow: hidden;
}

.sell-section {
  background-color: var(--background-color) !important;
  background-image: url(../../../public/upload.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sell-write-up {
  position: absolute;
  background-color: #00000062;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sell-write-up > button {
  color: #fff;
  border: 2px solid #fff;
}

.sell-write-up > button:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.product-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--other-color);
  inline-size: 0;
  max-inline-size: 100vw;
  text-align: center;
  transition: all 0.1s;
}

.opened {
  inline-size: 30rem;
}

.button-inside {
  left: 0;
  border-radius: 0 2rem 2rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  overflow: hidden;
}

.upload-form {
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  block-size: 90vh;
  inline-size: 90vw;
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 1rem;
  z-index: 4;
  overflow: hidden;
  display: none;
  transition: all 0.1s;
}

.start-upload {
  display: flex;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 0.25rem;
}

.header h3 {
  flex: 1;
  padding: 0.5rem;
}

.header button {
  display: flex;
  border: none;
  background-color: transparent;
}

.upload-content {
  gap: 1rem;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.upload-content::-webkit-scrollbar {
  display: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview {
  border-radius: 0.5rem;
  inline-size: 30rem;
  background-color: var(--other-color);
  min-block-size: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form {
  background-color: var(--other-color);
  padding: 1rem;
  border-radius: 0.5rem;
  min-inline-size: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label,
input,
form button,
select {
  min-inline-size: 10rem;
  block-size: 3rem;
  display: flex;
  align-items: center;
}

form button {
  background-color: var(--primary-color);
  border: none;
  justify-content: center;
}

textarea {
  min-block-size: 10rem;
}

.product-price,
.product-stock {
  display: flex;
  flex-wrap: wrap;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
}

.preview-container > div {
  margin-block-end: 2rem;
}

.preview-container > p {
  color: var(--primary-color);
  margin-block-end: 1rem;
}

.preview-product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preview-product-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  min-inline-size: 15rem;
  min-block-size: 10rem;
  border-radius: 0.5rem;
}

.preview-product-details {
  text-align: center;
}

.product-information {
  text-align: center;
}

.product-information p {
  margin-block-end: 1rem;
}

.preview-product-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-information,
.preview-product-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-product-category,
.preview-product-description {
  inline-size: 100%;
  gap: 1rem;
  margin-block: 1rem 0 !important;
  text-align: center;
}

.preview-product-category {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.upload-finished-product {
  color: #fff;
  background-color: var(--primary-color);
  inline-size: 100%;
  block-size: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  margin-block-start: 1rem;
}

input[type="file"] {
  padding: 0;
}
