:root {
  --primary-color: #62e462;
  --secondary-color: #fff;
  --background-color: #fff;
  --other-color: #f7f7f7;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --other-text-color: #b6b6b6;
}

html {
  font-family: BlinkMacSystemFont, system-ui, -apple-system, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: var(--other-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

h1 {
  font-size: 1.5rem;
}

h1::selection {
  color: var(--other-color);
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

section {
  padding: 1rem;
  min-block-size: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: all 0.25s;
}

.fixed-section-color {
  color: var(--secondary-color);
}

section:nth-child(odd) {
  background-color: var(--other-color);
}

.products {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem 1rem;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  inline-size: 15rem;
  gap: 0.5rem;
  border-radius: 1rem;
  transition: all 0.25s;
}

.product:hover {
  transform: translateY(-4px) scale(1.04);
}

.image {
  background-color: #000;
  block-size: 10rem;
  inline-size: 100%;
  border-radius: 0.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  line-height: 1;
}

.price {
  font-weight: bold;
}

.other-button,
.sign-in {
  background-color: transparent;
  border: 2px solid var(--primary-text-color);
  color: var(--primary-text-color);
  block-size: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  transition: all 0.25s;
}

.other-button:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-color);
}
