:root {
  --background-color: #f8faff;
  /* --color: #4f8cff; Modern blue as primary */
  --color: #1f681f;
  --secondary-color: #fff;
  --glass-background: rgba(255, 255, 255, 0.7);
  --greyed-text-color: #e0e6ed;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.hidden {
  overflow: hidden;
}

button {
  border: 0;
  cursor: pointer;
}

h6 {
  color: #ff0000;
}

.balls-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.balls {
  background-color: var(--color);
  opacity: 30%;
  block-size: 2rem;
  inline-size: 2rem;
  border-radius: 2rem;
  margin: 1rem;
  bottom: 5rem;
  position: absolute;
  animation: infinite play 3s;
  pointer-events: none;
}

@keyframes play {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
