.search-results {
  background-color: var(--other-color);
  position: fixed;
  top: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  overflow: scroll;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.25s;
}

.heading {
  display: flex;
  align-items: center;
}

.heading h2 {
  flex: 1;
}

.heading button {
  block-size: 2rem;
  inline-size: 2rem;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 1px solid var(--other-color);
}

.hidden {
  overflow: hidden;
}

.searched {
  top: 0;
}

section {
  display: flex;
  flex-direction: column;
}

.filtered-products {
  background-color: var(--backgound-color);
}

section > div {
  inline-size: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.sort-products {
  background-color: var(--other-color);
  position: sticky;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-block-end: 1px solid var(--primary-color);
  z-index: 2;
}

.all-products {
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.products {
  padding: 1rem;
}

.product-details-expand {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  inline-size: 90vw;
  block-size: 90vh;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  z-index: 4;
}

.show-product-details {
  display: flex;
}

.close-product-details-expand {
  background-color: #f7f7f7;
  border: none;
  display: flex;
}

.header {
  display: flex;
  padding: 0.5rem 0;
  color: #000;
}

.clicked-product-name {
  flex: 1;
}

.product-id {
  display: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
}

.other-things {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.content::-webkit-scrollbar {
  display: none;
}

.about-product {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  color: #000;
}

.about-product > div {
  flex: 1;
  min-inline-size: 18rem;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.displaying-image {
  background-color: #000;
  block-size: 20rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-expanded {
  position: absolute;
  background-size: contain;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  block-size: auto;
}

.available-images {
  display: flex;
  gap: 1rem;
}

.available-images > div {
  flex: 1;
  block-size: 5rem;
  background-color: #000;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-the-product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-main-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-price {
  font-weight: bold;
  font-size: 1.5rem;
}

.product-ui-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.product-ui-buttons > button {
  block-size: 2rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0.5rem;
  transition: 0.1s;
}

.product-ui-buttons > button:hover {
  background-color: var(--primary-color);
}

.numbers-btns {
  display: flex;
  gap: 0.5rem;
}

.numbers-btns button {
  background-color: #f7f7f7;
  block-size: 2rem;
  padding: 0 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  transition: all 0.1s;
}

.plus:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.minus:hover {
  background-color: red !important;
  color: #fff !important;
}

.report {
  color: #fff;
  background-color: red !important;
  border: 1px solid red !important;
}

.similar-products {
  background-color: var(--other-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.similar-products h3 {
  color: var(--primary-text-color);
}

.similar-product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #000;
}

.reviews h3 {
  display: flex;
  justify-content: center;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.write-a-review form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.write-a-review form textarea {
  max-block-size: 10rem;
  min-block-size: 10rem;
  max-inline-size: 100%;
  min-inline-size: 100%;
}

.submit-review {
  background-color: var(--primary-color);
  block-size: 3rem;
  border: none;
}

.note {
  color: var(--primary-color);
}

.timeOfWriting {
  font-size: 0.8rem;
  color: grey;
}
