section {
  background-image: url("../../../public/assets/photos/signup.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  inline-size: 30rem;
  background-color: var(--other-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .content {
    inline-size: 100vw;
    background-color: #0000007e;
    color: #fff;
  }
}

form {
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 0.5rem;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-button {
  block-size: 3rem;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

.message {
  text-align: center;
}

.link-like {
  color: var(--primary-color);
  cursor: pointer;
}
