.body {
	min-block-size: calc(100vh - 14rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
}

h2 {
	font-size: 5rem;
	color: var(--secondary-color);
	animation: infinite heartbeat 1.5s;
}

@keyframes heartbeat {
	0% {
		scale: 1;
	}

	30% {
		scale: 1;
	}

	35% {
		scale: 1.1;
	}

	40% {
		scale: 1;
	}

	65% {
		scale: 1;
	}

	70% {
		scale: 1;
	}

	75% {
		scale: 1.1;
	}

	90% {
		scale: 1;
	}

	100% {
		scale: 1;
	}
}

a {
	color: var(--secondary-color);
}