.notfound-message {
  background-color: var(--background-color);
  max-inline-size: 40rem;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  filter: drop-shadow(0 0 0.2rem var(--primary-text-color));
}

h2 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}
