header {
  background-color: var(--background);
  display: flex;
  block-size: 5rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  gap: 1rem;
  user-select: none;
  z-index: 1000;
}

@media screen and (max-width: 700px) {
  .logo {
    flex: 1;
  }
}

@media screen and (min-width: 700px) {
  header {
    padding: 1rem 2rem;
  }
}

.menu-btn {
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  menu {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}

.nav-links {
  display: none;
  flex: 1;
}

@media screen and (min-width: 700px) {
  .nav-links {
    display: flex;
    justify-content: center;
  }
}

.nav-links ul {
  display: flex;
  block-size: 100%;
  align-items: center;
  gap: 1rem;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
  color: var(--other);
}

.functionalities {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search,
.cart,
.account {
  block-size: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  main {
    padding: 1rem;
  }
}

footer {
  border-top: 1px soild var(--accent);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 12px;
  user-select: none;
}

@media screen and (min-width: 700px) {
  footer {
    font-size: 14px;
    padding: 1rem 2rem;
  }
}

footer > section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  padding: 1rem 0;
  gap: 0.5rem;
}

.socials > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
}

.details,
.links > .column {
  min-inline-size: 200px;
  flex-grow: 1;
}

.links li {
  padding: 1rem 0;
}

.links li:hover {
  text-decoration: underline;
}

.reserve {
  color: grey;
}

/* Modal */
.dark-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}

.show {
  display: block;
}

.menu {
  position: fixed;
  top: 5rem;
  left: 0;
  bottom: 0;
  inline-size: 0;
  background-color: var(--accent);
  overflow: hidden;
  user-select: none;
  z-index: 1000;
}

@media screen and (min-width: 700px) {
  .dark-background {
    display: none !important;
  }

  .menu {
    inline-size: 0 !important;
  }
}

.open {
  inline-size: 45vw;
  border-right: 1px solid var(--accent);
}

.menu ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.account-menu {
  position: fixed;
  top: 5rem;
  right: 1rem;
  background-color: var(--background);
  border-top: 0;
  inline-size: 10rem;
  display: flex;
  block-size: 0;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.account-menu ul {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.opened {
  padding: 1rem;
  block-size: 11rem;
  border: 1px solid var(--accent);
}

@media screen and (min-width: 700px) {
  .account-menu {
    right: 2rem;
  }
}

.account-menu li:not(.user) {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account-menu li:not(.user):hover {
  font-weight: bold;
}

.user {
  display: flex;
  gap: 1rem;
}

.user > div {
  background-color: var(--accent);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
