section {
  flex-direction: column;
}

.blog-welcome-section {
  background: url("https://res.cloudinary.com/dqmfnubj5/image/upload/v1751573074/products/1751573066466-welcome.jpeg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.write-up {
  background-color: #00000088;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.write-up h2,
.write-up p {
  max-width: 70rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog-filter {
  position: sticky;
  top: 6rem;
  background-color: #f7f7f7d8;
  background-color: #0000003d;
  backdrop-filter: blur(0.5rem);
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  inline-size: 100%;
  min-block-size: 5rem;
  min-inline-size: 20rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.blog-filter > div {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.by-category {
  flex: 2;
  min-inline-size: 22rem;
  display: flex;
  align-items: center;
}

.by-category > p {
  color: #fff;
  margin-inline-end: 1rem;
}

.by-category ul {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.by-category li {
  background-color: var(--other-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-inline-size: 5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s;
}

.by-category li:hover {
  color: var(--primary-color);
}

search {
  flex: 1;
}

.blogs {
  text-align: center;
  display: flex;
  gap: 2rem;
  padding: 4rem 1rem;
}

.heading p {
  color: var(--primary-color);
}

.content {
  inline-size: 100%;
  display: flex;
  gap: 4rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0.5rem;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  inline-size: 30rem;
  min-inline-size: 20rem;
}

.blog > div {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog-image {
  background-color: #000;
  inline-size: 100%;
  min-block-size: 15rem;
  border-radius: 0.5rem;
}

.blog > div > div {
  display: flex;
  inline-size: 100%;
  gap: 0.5rem;
}

.author-image {
  background-color: #000;
  inline-size: 2rem;
  block-size: 2rem;
  border-radius: 2rem;
}

h3 {
  inline-size: 100%;
  text-align: start;
}

.details div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.report {
  color: var(--primary-color);
}

.report:hover {
  text-decoration: underline;
}

.pagination {
  color: #000;
  display: flex;
  gap: 1rem;
}

.pagination > div {
  block-size: 2.5rem;
  inline-size: 2.5rem;
  background-color: #f7f7f7;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.how-to-write-blogs {
  text-align: center;
}

 .write-blog {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--primary-color);
  block-size: 2.5rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  transition: all 0.25s;
}
