header {
  background-color: var(--background-color);
  block-size: 5rem;
  position: sticky;
  top: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 2rem;
  border-block-end: 2px solid var(--other-color);
  z-index: 3;
}

.close-menu {
  padding: 0;
}

.app-name {
  inline-size: 10rem;
  cursor: pointer;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.dropdown-display {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
}

.dropdown-display:hover {
  color: var(--primary-color);
}

.icon {
  margin: 0.1rem 0 0 0.2rem;
}

.icon img {
  transform: rotate(-90deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5rem;
  background-color: #f7f7f7;
  color: #000;
  inline-size: 15rem;
  padding: 1rem;
  filter: drop-shadow(0 1px 1px #00000025);
}

.theme-container ul,
.dropdown-content ul,
.account-container ul {
  inline-size: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.dropdown-content li:hover {
  color: var(--primary-color);
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  cursor: pointer;
}

.nav-links li:hover {
  color: var(--primary-color);
}

.sell-button {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  margin-inline-end: 0.5rem;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  gap: 0.5rem;
  background-color: #f7f7f7;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.header-buttons button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}

.theme-container,
.account-container {
  background-color: #f7f7f7;
  filter: drop-shadow(0 1px 1px #00000025);
  position: absolute;
  inline-size: 15rem;
  top: 5rem;
  right: 2rem;
  padding: 1rem;
  display: none;
}

.theme-container {
  right: 7.5rem;
  inline-size: 10rem;
}

.theme-container li,
.account-container li {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-container li:hover,
.account-container li:hover {
  color: var(--primary-color);
}

main {
  flex: 1;
}

footer {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  padding: 2rem;
  border-block-start: 2px solid var(--other-color);
  text-align: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

footer span p {
  color: var(--primary-color);
  padding: 0 0.5rem;
  cursor: pointer;
}

.display {
  display: flex;
}

.active {
  background-color: var(--other-text-color);
  color: var(--secondary-text-color);
  padding: 0.25rem 0;
  border-radius: 0.25rem;
}

.active:hover {
  color: var(--secondary-text-color) !important;
}

.modal-background {
  background-color: var(--other-color);
  opacity: 60%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  z-index: 4;
}

.menu,
.wishlist,
.cart {
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  filter: drop-shadow(0 0 0.5rem var(--other-color));
  top: 0;
  bottom: 0;
  inline-size: 0rem;
  overflow: hidden;
  transition: all 0.1s;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.wishlist,
.cart {
  right: 0;
}

.cart-button {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 0;
  right: -0.5rem;
  color: #fff;
  background-color: red;
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 1rem;
}

.wishlist-content,
.cart-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
}

.wishlist-content::-webkit-scrollbar,
.cart-content::-webkit-scrollbar {
  display: none;
}

.content-product {
  inline-size: 100%;
  block-size: 5rem;
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;
}

.content-product-image {
  background-color: #000;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inline-size: 7rem;
}

.content-product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.content-product-name {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  block-size: 2rem;
}

.content-product-price-and-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.content-product-price-and-stock-container {
  display: flex;
  gap: 0.5rem;
}

.content-product-price {
  font-size: 1.1rem;
  font-weight: bold;
}

.content-delete-product-button-container {
  display: flex;
  gap: 0.5rem;
}

.content-product button {
  min-inline-size: 1.5rem;
  padding: 0.2rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 0.2rem;
  background-color: transparent;
  color: var(--primary-text-color);
}

.delete-product-button {
  border: none !important;
  padding: 0 0.5rem !important;
  background-color: red !important;
  color: #fff !important;
}

.menu {
  left: 0;
  background-color: #fff;
  color: #000;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  padding: 1rem;
  align-items: center;
}

.header h3 {
  flex: 1;
}

.header button {
  background-color: transparent;
  border: none;
}

.opened {
  inline-size: 30rem;
}

.menu-button {
  display: none;
  inline-size: 2rem;
  background-color: #f7f7f7;
  border-radius: 0.2rem;
  border: none;
}

@media screen and (max-width: 600px) {
  .opened {
    inline-size: 100vw;
  }

  nav {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  header {
    gap: 0;
    justify-content: space-between;
    padding: 1rem;
  }

  .header-buttons {
    gap: 1rem;
  }

  .sell-button {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .cta-write-up h2 {
    font-size: 1rem;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.menu-content ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-drop-down {
  margin: 0 2rem;
}

.shop-menu > div,
.menu-content li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-content li[class="not-drop-down"] {
  padding: 1rem;
  transition: all 0.1s;
}

.shop-menu {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.shop-menu > div > p {
  padding: 1rem 0;
}

.menu-drop-down {
  block-size: 0;
  background-color: #f7f7f7;
  overflow: hidden;
  transition: all 0.25s;
}

.dropdown-opened {
  block-size: 15rem;
}
